.nav__logo {
    display: flex;
    justify-content: center;
}

.nav__logo img {
    width: 250px;
}

/* Header ---------------------------- */

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    align-items: center;
}

ul {
    padding-left: 25px;
    list-style-position: inside;
}

header .award__img img {
    width: 450px;
}

.header__right img {
    width: 100%;
    margin-top: 15px;
}